<div class="text-center">
    <div class="row">
        <div class="col-md-2 hidden-sm">
        </div>
        <div class="col-md-5 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>Public key details</h5>
                </div>
                <div class="panel-body text-center">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Name</span>
                            <input type="text" ng-model="sshkey.name" class="form-control" />
                        </div>
                        <hr/>
                        <div class="input-group">
                            <span class="input-group-addon">Key</span>
                            <textarea rows="20" ng-model="sshkey.key" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>Actions</h5>
                </div>
                <div class="panel-body text-center">
                    <button class="btn btn-danger" ng-click="remove()"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>Attach to VM</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <select ng-model="vm" ng-options="(vm.name + '(' + vm.id + ')') for vm in vms" class="form-control"></select>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success" ng-click="attach()">Attach</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 hidden-sm"></div>
    </div>
    <a href="#/coretalk/sshkey/">Go back to key list</a>
    &nbsp;&nbsp;&nbsp;
    <button class="btn btn-success" ng-click="save()"><span class="glyphicon glyphicon-save"></span> Save</button>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>