<div class="row">
    <div class="col-md-2 hidden-sm">
    </div>
    <div class="col-md-8 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Create new network</h5>
            </div>
            <div class="panel-body text-center">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Name</span>
                        <input type="text" ng-model="name" class="form-control" />
                    </div>
                    <hr/>
                    <div class="input-group">
                        <span class="input-group-addon">Script</span>
                        <textarea rows="20" ng-model="script" class="form-control" />
                    </div>
                </div>
                <button class="btn btn-primary" ng-click="create()">Create</button>
            </div>
        </div>
    </div>
    <div class="col-md-2 hidden-sm"></div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>