<div class="row">
    <div class="col-md-3 hidden-sm">
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Change password</h5>
            </div>
            <div class="panel-body text-center">
                <div class="input-group">
                    <span class="input-group-addon">New password: </span>
                    <input type="password" id="password1" class="form-control" ng-model="password1"/>
                </div>
                <hr/>
                <div class="input-group">
                    <span class="input-group-addon">Retype password: </span>
                    <input type="password" id="password2" class="form-control" ng-model="password2"/>
                    <div id="passwordvalidation" class="bg-danger" style="display: none;">Passwords are different!</div>
                    <div id="passwordchanged" class="bg-success" style="display: none;">Password changed</div>
                </div>
                <button class="btn btn-primary" ng-click="password_change()">Change</button>
            </div>
        </div>
    </div>
    <div class="col-md-3 hidden-sm"></div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>