<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading text-right">
                <h5 class="pull-left">Virtual private networks</h5>
                <button ng-click="obj_create()" id="obj_create" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus"></span>Create new</button>
            </div>
            <div class="panel-body">
                <table class="table table-stripped" ng-table="objTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Connected to network</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="cursor: pointer;" ng-repeat="obj in objs" ng-click="obj_edit(obj)">
                            <td>{{ obj.id }}</td>
                            <td data-title="'Name'" sortable="'name'">{{ obj.name }}</td>
                            <td>{{ obj.network_id }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
