<br/>
<br/>
<div class="ui inverted vertical bottom attached footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="five wide middle aligned column">
                &copy; Copyright <a class="inverted link" href="http://cloudover.io">cloudover.io Ltd.</a>
            </div>

            <div class="six wide column">
                <img src="img/logo-small-footer.png"/>
            </div>

            <div class="five wide middle aligned column">
                <div class="ui inverted horizontal link list">
                    <a href="http://cloudover.io/article/contact" class="item">Contact</a>
                    <a href="http://cloudover.io/article/terms-of-use" class="item">Terms of use</a>
                    <a href="http://cloudover.io/article/privacy-policy" class="item">Privacy</a>
                    <a href="http://cloudover.io/article/about" class="item">About</a>
                </div>
            </div>
        </div>
    </div>
</div>