<div class="ui basic modal" id="intro">
    <i class="close icon"></i>
    <div class="header">
        Let's start together!
    </div>
    <div class="content">
        <img class="image" src="img/introscreen.png" width="100%">
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui ok green basic inverted button">
                <i class="checkmark icon"></i>
                Got it!
            </div>
        </div>
    </div>
</div>

<div class="ui long modal" id="script_result">
    <i class="close icon"></i>
    <div class="header">
        Script call result
    </div>
    <div class="content" id="script_output"></div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui ok green basic inverted button">
                <i class="checkmark icon"></i>
                Close
            </div>
        </div>
    </div>
</div>

<div class="ui stackable grid container">
    <div class="eight wide column">
        <div class="ui styled accordion">
            <div class="title active">
                <i class="dropdown icon"></i>
                Your resources
            </div>
            <div class="content active">
                <p style="display: block ! important;" class="transition visible">
                    <div class="ui center aligned three column grid">
                        <div class="column">
                            <canvas id="memory" class="chart chart-doughnut" data="memory_data" responsive="true" labels="memory_labels" colours="memory_colours"></canvas>
                            Memory
                        </div>
                        <div class="column">
                            <canvas id="cpu" class="chart chart-doughnut" data="cpu_data" labels="cpu_labels" colours="cpu_colours"></canvas>
                            CPU
                        </div>
                        <div class="column">
                            <canvas id="storage" class="chart chart-doughnut" data="storage_data" labels="storage_labels" colours="storage_colours"></canvas>
                            Storage
                        </div>
                    </div>
                </p>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Cluster capabilities
            </div>
            <div class="content">
                <p class="transition hidden">
                    <table class="ui table">
                        <thead>
                        <tr>
                            <th>Template name</th>
                            <th>Count</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="tmpl in templates">
                            <td><b>{{ tmpl.name }}: </b></td>
                            <td>{{ tmpl.caps }}</td>
                        </tr>
                    </table>
                    <table class="ui table">
                        <tr>
                            <td>Available storage space</td>
                            <td>{{ storage }} GB</td>
                        </tr>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <div class="center aligned eight wide column">
        <div class="ui fluid buttons">
            <a class="ui green animated button" href="#/api/vm/create/">
                <div class="visible content"><i class="huge plus square icon"></i></div>
                <div class="hidden content">New VM</div>
            </a>
            <a class="ui green animated button" href="#/api/network/create/">
                <div class="visible content"><i class="huge globe icon"></i></div>
                <div class="hidden content">Create Network</div>
            </a>
            <a class="ui green animated button" href="#/api/image/create/">
                <div class="visible content"><i class="huge cloud upload icon"></i></div>
                <div class="hidden content">New Image</div>
            </a>
            <a class="ui green animated button" href="#/api/image/upload/">
                <div class="visible content"><i class="huge cloud download icon"></i></div>
                <div class="hidden content">Upload Image</div>
            </a>
        </div>
        <div class="ui segment" ng-show="thunder == true">
            <div class="ui labeled fluid action input">
                <div class="ui label">Search for script:</div>
                <input placeholder="Name or ID" type="text" id="thunder_script_name" ng-model="thunder_script_name">
                <button class="ui yellow icon button" ng-click="thunder_variable_check()"><i class="search icon"></i></button>
            </div>
            <p></p>
            <div class="ui form" id="thunder_variables"></div>
            <!--<button class="ui tiny basic button" style="display: none" id="thunder_show_predefined_variables" onclick="$('#thunder_predefined_variables').slideToggle();">Show predefined variables...</button>-->
            <div class="ui form" id="thunder_predefined_variables" style="display: none"></div>
            <div class="ui fluid buttons" id="thunder_actions" style="display: none;">
                <button class="ui yellow button">Show definition</button>
                <button class="ui green button" ng-click="thunder_script_call()">Execute</button>
            </div>
        </div>
    </div>
</div>

<script>
    if (document.location.hash.indexOf('show_intro') > 0) {
        $('#intro').modal('show');
    }
    $('.ui.accordion').accordion();
</script>
<style>
    .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
    .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete-selected { background: #F0F0F0; }
    .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
    .autocomplete-group { padding: 2px 5px; }
    .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
</style>
