<div class="ui basic modal" id="intro">
    <i class="close icon"></i>
    <div class="header">
        Let's start together!
    </div>
    <div class="content">
        <img class="image" src="img/introscreen.png" width="100%"/>
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui ok green basic inverted button">
                <i class="checkmark icon"></i>
                Got it!
            </div>
        </div>
    </div>
</div>

<div class="ui stackable grid container">
    <!-- Create new... -->
    <div class="sixteen wide column">
        <div class="ui segment">
            <div class="ui fluid buttons">
                <a class="ui green animated button" href="#/api/vm/create/">
                    <div class="visible content"><i class="massive plus square icon"></i></div>
                    <div class="hidden content">New VM</div>
                </a>
                <a class="ui green animated button" href="#/api/network/create/">
                    <div class="visible content"><i class="massive globe icon"></i></div>
                    <div class="hidden content">Create Network</div>
                </a>
                <a class="ui green animated button" href="#/api/image/create/">
                    <div class="visible content"><i class="massive cloud upload icon"></i></div>
                    <div class="hidden content">New Image</div>
                </a>
                <a class="ui green animated button" href="#/api/image/upload/">
                    <div class="visible content"><i class="massive cloud download icon"></i></div>
                    <div class="hidden content">Upload Image</div>
                </a>
            </div>
        </div>
    </div>

    <!-- thunder -->
    <div class="sixteen wide column" ng-show="thunder == true">
        <div class="ui segment">
            <div class="ui header">Thunder Script</div>
            <div class="ui form">
                <div class="field">
                    <label>Search for script</label>
                    <input placeholder="Name or id..." type="text" id="thunder_script_search" ng-model="thunder_script_name">
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="ui four column grid" id="thunder_search_results"></div>
        </div>
    </div>

    <!-- Resources -->
    <div class="sixteen wide column">
        <div class="ui styled accordion">
            <div class="title active">
                <i class="dropdown icon"></i>
                Your resources
            </div>
            <div class="content active">
                <p style="display: block ! important;" class="transition visible">
                    <div class="ui center aligned three column grid">
                        <div class="column">
                            <canvas id="memory" class="chart chart-doughnut" data="memory_data" responsive="true" labels="memory_labels" colours="memory_colours"></canvas>
                            Memory
                        </div>
                        <div class="column">
                            <canvas id="cpu" class="chart chart-doughnut" data="cpu_data" labels="cpu_labels" colours="cpu_colours"></canvas>
                            CPU
                        </div>
                        <div class="column">
                            <canvas id="storage" class="chart chart-doughnut" data="storage_data" labels="storage_labels" colours="storage_colours"></canvas>
                            Storage
                        </div>
                    </div>
                </p>
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                Cluster capabilities
            </div>
            <div class="content">
                <p class="transition hidden">
                    <table class="ui table">
                        <thead>
                        <tr>
                            <th>Template name</th>
                            <th>Count</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="tmpl in templates">
                            <td><b>{{ tmpl.name }}: </b></td>
                            <td>{{ tmpl.caps }}</td>
                        </tr>
                    </table>
                    <table class="ui table">
                        <tr>
                            <td>Available storage space</td>
                            <td>{{ storage }} GB</td>
                        </tr>
                    </table>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    if (document.location.hash.indexOf('show_intro') > 0) {
        $('#intro').modal('show');
    }
    $('.ui.accordion').accordion();
</script>
<style>
    .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
    .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete-selected { background: #F0F0F0; }
    .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
    .autocomplete-group { padding: 2px 5px; }
    .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
</style>
