<div class="ui middle aligned center aligned grid">
    <div class="column">
        <br/>
        <br/>
        <h2 class="ui blue image header">
            <img src="img/logo-cloudover.io.transparent.png" class="image">
            <div class="content">
            Log-in to your account
            </div>
        </h2>
        <form class="ui large form" id="form-signin">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="login" placeholder="Login" id="inputLogin">

                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" id="inputPassword">
                    </div>
                </div>
                <button class="ui fluid large blue submit button">Sign in</button>
            </div>

            <div class="ui error message"></div>
        </form>

        <div class="ui message">
            New to us? <a href="#/register">Sign Up</a>
        </div>
        <div class="ui message left aligned segment">
            <small>
                By clicking <em>Sign up</em> button you are accepting <a href="#/" onclick="$('#temsofuse').slideToggle()">Terms Of Use</a>
                <div id="temsofuse" class="left aligned" style="display: none;"></div>
            </small>
        </div>
    </div>
</div>


<script type="text/javascript">
    function redirect() {
        document.location = "index.html";
    }

    function getToken(login, pw_hash, list) {
        for (i = 0; i < list.length; i++) {
            if (list[i].name == "CoreUI") {
                var token_expires = new Date(list[i].valido_to);
                var now = new Date();
                if (now.getTime() < token_expires.getTime()) {
                    $.cookie("core_token", list[i].token);
                    redirect();
                    return;
                }
            }
        }

        request("/user/token/create/", {login: login, pw_hash: pw_hash, name: "CoreUI"}, function(r) {
            $.cookie("core_token", r['token']);
            redirect();
        });
    }

    $("#form-signin").submit(function(e) {
        e.preventDefault();
        var login = $("#form-signin #inputLogin").val();
        var password = $("#form-signin #inputPassword").val();
        console.debug(password);
        request('/user/user/get_seed/', {login: login}, function(r) {
            var pw_hash = 'sha512' + $().crypt({method: "sha512", source: password + r.seed});
            request('/user/token/get_list/', {login: login, pw_hash: pw_hash}, function (list) {
                $.cookie("core_login", login);
                $.cookie("core_hash", pw_hash);
                getToken(login, pw_hash, list);
            });
        });
    });

    $("#temsofuse").load("terms-of-use.html");
</script>