<div class="ui stackable pointing main menu">
    <a class="item" href="http://cloudover.io" target="_blank">cloudover</a>
    <a class="item" href="http://cloudover.io/thunder/" target="_blank">thunder</a>
    <a class="item active" href="#/">CoreCluster</a>
    <a class="item" href="http://cloudover.org">open source</a>
    <div class="right aligned menu" id="logout">
        <a class="item" href="#/logout">
            <i class="sign out icon"></i>
        </a>
    </div>
</div>
<div id="menu" class="ui sidebar inverted vertical uncover menu"></div>
<button class="ui sticky black launch right attached fixed icon button" onmouseover="$('.ui.sidebar').sidebar('setting', 'transition', 'push').sidebar('setting', 'dimPage', false).sidebar('toggle');" id="menuShow">
    <i class="content icon"></i>
</button>

<div class="ui container"></div>

<div class="ui long modal" id="requestLoader" onclick="closeRequestModal()">
    <i class="close icon" onclick="closeRequestModal()"></i>
    <div class="content">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
        <div class="cloudCircle"></div>
        <div class="cloudI"></div>
        <div class="cloudO"></div>
    </div>
    <div class="content" id="requestLoaderContent">
    </div>
</div>

<style>
    .cloudCircle {
        width: 100px;
        height: 100px;
        text-align: center;
        background: #4f4f4f;
        color: #DADADA;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: -100px;
        margin-left: -50px;
        margin-top: -50px;
    }
    .cloudI {
        width: 68px;
        height: 68px;
        text-align: center;
        background: #00acf0;
        color: #00acf0;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: -100px;
        margin-top: -34px;
        margin-left: -34px;
    }
    .cloudO {
        width: 68px;
        height: 68px;
        text-align: center;
        background: #00acf0;
        color: #00acf0;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: -100px;
        margin-top: -34px;
        margin-left: 50px;
    }
    .cloudTop {
        width: 50px;
        height: 50px;
        text-align: center;
        background: #00acf0;
        color: #00acf0;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: -100px;
        margin-top: -50px;
        margin-left: -68px;
    }
    .cloudBottom {
        width: 68px;
        height: 68px;
        text-align: center;
        background: #00acf0;
        color: #00acf0;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: -100px;
        margin-top: -15px;
        margin-left: -80px;
    }
</style>

<script>

    if ($.cookie('core_token') == '' || $.cookie('core_token') == 'null') {
        $('#logout').css({display: 'none'});
        $('#menuShow').css({display: 'none'});
    } else {
        $('.ui.sticky').sticky({
            context: '#menu'
          });
        $('#menu').mouseleave(function() {
            $('.ui.sidebar').sidebar('setting', 'transition', 'push').sidebar('setting', 'dimPage', false).sidebar('toggle');
        });
        $("#login_name").append('<a>' + $.cookie("core_login") + '</a>');
        for (i = 0; i < window.modules.length; i++) {
            $("#menu").append($("<div class=\"ui item\">").load('menus/' + window.modules[i] + '.html'));
        }
    }

    $(document).ready(function() {
        function loopCircle() {
            propOn = {};
            propOn['margin-left'] = '-50px';
            propOn['margin-top'] = '-50px';
            propOn['width'] = '100px';
            propOn['height'] = '100px';
            propOff = {};
            propOff['margin-left'] = '0';
            propOff['margin-top'] = '0';
            propOff['width'] = '0';
            propOff['height'] = '0';
            $('.cloudCircle').animate(propOff, 500).delay(700).animate(propOn, 500, 'linear' ,function() {loopCircle();});
        }
        function loopI() {
            propOn = {};
            propOn['margin-left'] = '-34px';
            propOn['margin-top'] = '-34px';
            propOn['width'] = '68px';
            propOn['height'] = '68px';
            propOff = {};
            propOff['margin-left'] = '0';
            propOff['margin-top'] = '0';
            propOff['width'] = '0';
            propOff['height'] = '0';
            $('.cloudI').animate(propOff, 500).delay(800).animate(propOn, 500, 'linear' ,function() {loopI();});
        }
        function loopO() {
            propOn = {};
            propOn['margin-left'] = '50px';
            propOn['margin-top'] = '-34px';
            propOn['width'] = '68px';
            propOn['height'] = '68px';
            propOff = {};
            propOff['margin-left'] = '84px';
            propOff['margin-top'] = '0';
            propOff['width'] = '0';
            propOff['height'] = '0';
            $('.cloudO').animate(propOff, 500).delay(900).animate(propOn, 500, 'linear' ,function() {loopO();});
        }
        function loopTop() {
            propOn = {};
            propOn['margin-left'] = '-68px';
            propOn['margin-top'] = '-50px';
            propOn['width'] = '50px';
            propOn['height'] = '50px';
            propOff = {};
            propOff['margin-left'] = '-43px';
            propOff['margin-top'] = '-25px';
            propOff['width'] = '0';
            propOff['height'] = '0';
            $('.cloudTop').animate(propOff, 500).delay(1200).animate(propOn, 500, 'linear' ,function() {loopTop();});
        }
        function loopBottom() {
            propOn = {};
            propOn['margin-left'] = '-80px';
            propOn['margin-top'] = '-15px';
            propOn['width'] = '68px';
            propOn['height'] = '68px';
            propOff = {};
            propOff['margin-left'] = '-46px';
            propOff['margin-top'] = '33px';
            propOff['width'] = '0';
            propOff['height'] = '0';
            $('.cloudBottom').animate(propOff, 500).delay(1100).animate(propOn, 500, 'linear' ,function() {loopBottom();});
        }
        loopCircle();
        loopI();
        loopO();
        loopTop();
        loopBottom();
    });

    function closeRequestModal() {
        window.running_requests = 0;
        $('#requestLoader').modal('hide');
        $('#requestLoaderContent').empty();
    }
</script>
