<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://cloudover.io">CloudOver</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="menu">
        <li><a href="#/"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="login_name"></li>
        <li><a href="#/logout/"><span class="glyphicon glyphicon-log-out"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<script>
    $("#login_name").append('<a>' + $.cookie("core_login") + '</a>');
    for (i = 0; i < window.modules.length; i++) {
        $("#menu").append($("<li class=\"dropdown\">").load('menus/' + window.modules[i] + '.html'));
    }
</script>
