    <a class="large item" href="http://cloudover.io" target="_blank">cloudover</a>
<!--    <a class="item" href="https://cloudover.io/thunder/repositories/list/" target="_blank">thunder</a>-->
    <a class="item active" href="#/">CoreCluster</a>
    <a class="item" href="http://cloudover.org">open source</a>
    <a class="item" id="loaderMenu"><div class="ui mini icon buttons" id="loader"></div></a>
    <div class="right aligned menu" id="logout">
        <a class="item" href="#/logout">
            <i class="sign out icon"></i>
        </a>
    </div>
