<div class="ui middle aligned center aligned grid">
    <div class="column">
        <br/>
        <br/>
        <h2 class="ui blue image header">
            <img src="img/logo-cloudover.io.transparent.png" class="image">
            <div class="content">
            Create new account
            </div>
        </h2>
        <form class="ui large form" id="form-register">
            <input type='hidden' name='csrfmiddlewaretoken' value='QGHRqBnR3IcTrGOE2NOOKU0SMS9SDDn1' />
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="login" placeholder="Login" id="inputLogin">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" id="inputPassword">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Confirm password" id="inputRepeatPassword">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <input type="text" name="name" placeholder="Your name" id="inputName">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <input type="text" name="surname" placeholder="Surname" id="inputSurname">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="envelope icon"></i>
                        <input type="text" name="email" placeholder="E-mail address" id="inputEmail">
                    </div>
                </div>
                <button class="ui fluid large blue submit button">Sign up</button>
            </div>

            <div class="ui error message"></div>
        </form>

        <div class="ui message">
            Already have account? <a href="#/login">Sign In</a>
        </div>
        <div class="ui message left aligned segment">
            <small>
                By clicking <em>Sign in</em> button you are accepting <a href="#/register/" onclick="$('#temsofuse').slideToggle()">Terms Of Use</a>
                <div id="temsofuse" class="left aligned" style="display: none;"></div>
            </small>
        </div>
    </div>
</div>

<script type="text/javascript">
    function redirect() {
        document.location = "index.html#/?show_intro";
    }

    $("#form-register").submit(function(e) {
        e.preventDefault();
        var login = $("#form-register #inputLogin").val();
        var password = $("#form-register #inputPassword").val();
        var repeatPassword = $("#form-register #inputRepeatPassword").val();
        var name = $("#form-register #inputName").val();
        var surname = $("#form-register #inputSurname").val();
        var email = $("#form-register #inputEmail").val();

        if (password != repeatPassword) {
            alert("Password missmatch");
            return;
        }
        request('/user/user/register/', {
            name: name,
            surname: surname,
            password: password,
            login: login,
            email: email
        }, function(r) {
            request('/user/user/get_seed/', {login: login}, function(r) {
                var pw_hash = $().crypt({method: "sha1", source: password + r.seed});
                request('/user/token/get_list/', {login: login, pw_hash: pw_hash}, function (list) {
                    $.cookie("core_login", login);
                    $.cookie("core_hash", pw_hash);
                    for (i = 0; i < list.length; i++) {
                        if (list[i].name == "CoreUI") {
                            $.cookie("core_token", list[i].token);
                            redirect();
                            return;
                        }
                    }

                    request("/user/token/create/", {login: login, pw_hash: pw_hash, name: "CoreUI"}, function(r) {
                        $.cookie("core_token", r['token']);
                        redirect();
                    });
                });
            });
        });
    });

    $("#temsofuse").load("terms-of-use.html");
</script>