<script type="text/javascript">
    function showActions_token(id) {
        $("#apiModals").load('components/user/modals/token_info.html', function() {
            var modal = "#tokenInfoModal";
            $(modal).modal('show');

            $(function () {
                $("[data-toggle='tooltip']").tooltip();
            });

            $("#tokenRemove").click(function() {request("/user/token/delete/", {login: window.login, pw_hash: window.pw_hash, token_id: id}, function(){}); $("#tokenInfoModal").modal('hide'); showTokenList()});

            request("/user/token/get_by_id/", {login: window.login, pw_hash: window.pw_hash, token_id: id}, function(token) {
                $("#tokenId").append(id);
                $("#tokenName").append(token['name']);
                $("#tokenValidTo").append(token['valid_to']);
                makeFieldEditableId(id, "user", "token", "name", "#tokenName");
                makeFieldEditableId(id, "user", "token", "valid_to", "#tokenValidTo");
                for (i = 0; i < token["permissions"].length; i++) {
                    $("#tokenPermissionList").append(token["permissions"][i] + "<br/>");
                }
            });

            request('/user/permission/get_list/', {login: window.login, pw_hash: window.pw_hash}, function (r) {
                fillSelect(new SelectCoreModel(r, "function"), modal, "#tokenPermissions");
            });

            $("#tokenPermissionsAttach").click(function(r) {
                $(modal).find("#tokenPermissions option:selected").each(function() {
                    request("/user/permission/attach/", {login: window.login,
                        pw_hash: window.pw_hash,
                        token_id: id,
                        function: $(this).text()}, function(r) {});
                });
                $(modal).find("#tokenForm")[0].reset();
                $(modal).modal('hide')
            });
        });

    }
</script>