<script type="jquery-xtmpl" id="tokenInfoTmpl">
    <div class="btn-group-vertical btn-group-sm">
        <button onclick='tokenRemove()' class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span></button>
        <script type="text/javascript">
            function tokenRemove() {
                request("/user/token/delete/", {login: window.login, pw_hash: window.pw_hash, token_id: '${id}'}, function() {
                    showTokenList();
                });
            }
        {{html "</sc"+"ript>"}}
    </div>
</script>

<script type="text/javascript">
    function showActions_token(id) {
        if ($("#actions_" + id).hasClass("hidden")) {
            $("#actions_" + id).empty();
            var ids = [
                {id: id}
            ];
            $("#tokenInfoTmpl").tmpl(ids).appendTo("#actions_" + id);
            $("#actions_" + id).removeClass("hidden");
            clearTimeout(window.refresh_timeout);
            $("#item_" + id + "_name").editable(function(value, settings) {
                fields = {};
                fields['login'] = window.login;
                fields['pw_hash'] = window.pw_hash;
                fields["token_id"] = id;
                fields["name"] = value;
                request("/user/token/edit/", fields, function() {});
                return value;
            });
            $("#item_" + id + "_function_filter").editable(function(value, settings) {
                fields = {};
                fields['login'] = window.login;
                fields['pw_hash'] = window.pw_hash;
                fields["token_id"] = id;
                fields["function_filter"] = value;
                request("/user/token/edit/", fields, function() {});
                return value;
            });
        } else {
            $("#actions_" + id).addClass("hidden");
            makeFieldUneditable(id, 'name');
            makeFieldUneditable(id, 'function_filter');
        }
    }

</script>