<div id="modals"></div>

<script type="text/javascript">
    $("#modals").append($("<div>").load("components/user/modals/token_create.html"));

    function showTokenList() {
        highlightMenu("#user_tokens");
        request("/user/token/get_list/", {login: window.login, pw_hash: window.pw_hash}, function(r) {
            makeTable(new TableCoreModel(r, ["name", "token", "valid_to"], "token"), "#content");
        });
    }

    function showTokenCreate() {
        modal = "#tokenCreateModal";
        highlightMenu("#token_create");
        showTokenList();
        request('/user/permission/get_list/', {login: window.login, pw_hash: window.pw_hash}, function (r) {
            fillSelect(new SelectCoreModel(r, "function"), modal, "#permissionList");
        });
        $(modal).modal('show');
    }

    function showApiList() {
        highlightMenu("#user_api");
        $("#content").empty();
        $("#content").append('<div class="row"><div class="col-md-6" id="version"><label>Version: </label></div><div class="col-md-6" id="api_modules"></div></div>');
        $("#content").append('<hr/><h3>Api functions: </h3><div class="row"><div class="col-md-12" id="api_functions"></div></div>');
        request('/api/api/core_version/', {token: window.token}, function(r) {
            $("#version").append(r);
        });
        request('/api/api/list_api_modules/', {token: window.token}, function(r) {
            makeTable(new TableListModel(r, 'Module', null), "#api_modules");
        });
        request('/api/api/list_functions/', {token: window.token}, function(r) {
            makeTable(new TableCoreModel(r, ['name', 'doc', 'params'], null), "#api_functions");
        });
    }

    function showAccountDetails() {
        $("#content").load('main.html');
    }


    $("#user_tokens").click(function(e) { e.preventDefault(); showTokenList(); });
    $("#create_token").click(function(e) { e.preventDefault(); showTokenCreate(); });
    $("#user_account").click(function(e) { e.preventDefault(); showAccountDetails(); });
    $("#user_api").click(function(e) { e.preventDefault(); showApiList(); });

</script>
