<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#userCollapse" aria-expanded="true" aria-controls="userCollapse">
                <span class="glyphicon glyphicon-user"></span> My account
            </a>
        </h4>
    </div>
    <div id="userCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <ul class="list-group">
                <a href="#" id="user_tokens" class="list-group-item">Tokens</a>
                <a href="#" id="user_account" class="list-group-item">Account details</a>
                <a href="#" id="user_api" class="list-group-item">Api</a>
            </ul>
        </div>
    </div>
</div>