<div class="ui segment">
    <div class="ui header">Calling script {{ script }}</div>
    <div class="ui center aligned form">
        <div class="field">
            <label>Thunder authentication token</label>
            <input type="text" placeholder='enter "public" for public scripts' ng-model="token"/>
        </div>
        <div class="field">
            <button class="ui green basic button" ng-click="check()">Re-Read required variables</button>
        </div>
    </div>
</div>
<div class="ui segment" id="results">

</div>
<div class="ui container">
    <button class="ui fluid green button" ng-click="execute()">Execute</button>
</div>