<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="coreDavHeading">
        <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#coreDavCollapse" aria-expanded="false" aria-controls="coreDavCollapse">
                <span class="glyphicon glyphicon-open"></span> WebDav access
            </a>
        </h4>
    </div>
    <div id="coreDavCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
            <ul class="list-group">
                <a href="#coreDav_list" id="coreDav_list" class="list-group-item"><span class="glyphicon glyphicon-lock"></span> Grant access</a>
            </ul>
        </div>
    </div>
</div>