<form id="create">
    <small><a href="#!/vm/list">Go back</a></small><br/>
    <h4>Create new instance</h4>
    <div class="row">
        <div class="col s12 m6">
            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="name" placeholder="Name" id="name" ng-model="name" type="text" class="validate" />
                    <label for="name">Name</label>
                </div>
                <div class="input-field col s12">
                    <input ng-model="description" placeholder="Description" id="description" ng-model="description" type="text" class="validate" />
                    <label for="description">Description</label>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <label>Template</label>
            <p ng-repeat="template in templates">
                <input type="radio" name="template" id="template-{{ template.name }}" value="{{ template.id }}" />
                <label for="template-{{ template.name }}">{{ template.name }}
                    <br/>
                    <small>CPU: {{ template.cpu }}</small>
                    <small>Memory: {{ template.memory }}</small>
                    <small>HDD: {{ template.hdd }}</small>
                </label>
            </p>
        </div>
        <div class="col s12">
            <label>Base image</label>
            <p ng-repeat="image in images">
                <input type="radio" name="base_image" id="image-{{ image.id }}" value="{{ image.id }}" />
                <label for="image-{{ image.id }}">{{ image.name }}<br/>
                    <small>Size: {{ image.size/1024/1024 }}MB</small><br/>
                    <small>ID: {{ image.id }}MB</small>
                </label>
            </p>
        </div>
    </div>
    <a class="waves-effect waves-light btn blue" ng-click="create()">Create</a>
</form>