<div class="modal fade" id="vpnConnectModal" tabindex="-1" role="dialog" aria-labelledby="vpnConnectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button onclick="$('#vpnConnectModal').modal('hide')" type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="vpnConnectLabel">Connect virtual machine to vpn</h4>
            </div>
            <div class="modal-body">
                <form id="vpnForm" role="form">
                    <div class="input-group">
                        <div class="input-group-addon">Virtual machine: </div>
                        <select id="vmId" class="form-control"></select>
                    </div>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-addon">VPN: </div>
                        <select id="vpnId" class="form-control"></select>
                    </div>
                    <br/>
                    <button id="vpnConnect" class="btn btn-success">Connect</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#vpnConnectModal").find("#vpnConnect").click(function(e) {
        var modal = "#vpnConnectModal";
        vm_id = $(modal).find("#vmId").val();
        vpn_id = $(modal).find("#vpnId").val();
        request('/vpn/network/attach/', {token: window.token, vm_id: vm_id, vpn_id: vpn_id}, function(r) {
            //$("#vpnConnectModal").find("#vpnForm").reset();
            showVpnConnections();
        });
        $(modal).modal('hide');
    });
</script>