<div class="modal fade" id="vpnConnectionModal" tabindex="-1" role="dialog" aria-labelledby="vpnConnectionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button onclick="$('#vpnConnectionModal').modal('hide')" type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="vpnConnectionLabel">Connection</h4>
            </div>
            <div class="modal-body">
                <button id="vpnDisconnect" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>Detach from vm</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" onclick="$('#vpnConnectionModal').modal('hide')">Cancel</button>
            </div>
        </div>
    </div>
</div>
