<div class="modal fade" id="vpnInfoModal" tabindex="-1" role="dialog" aria-labelledby="vpnInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button onclick="$('#vpnInfoModal').modal('hide')" type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="vpnInfoLabel">Virtual private network details</h4>
            </div>
            <div class="modal-body">
                <form id="vpnForm" role="form">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="vpnInfoName">Name: </label>
                            <div id="vpnInfoName"></div>
                            <label for="vpnInfoID">ID: </label>
                            <div id="vpnInfoID"></div>
                            <label for="vpnInfoID">OpenVPN endpoint: </label>
                            <div id="vpnInfoEndpoint"></div>
                            <div class="btn-group btn">
                                <button id="remove" class='btn btn-primary' data-toggle="tooltip" data-placement="bottom" title="Remove image"><span class='glyphicon glyphicon-remove'></span> Remove</button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label>Client's credentials:</label><br/>
                            <a href="#vpn_list" onclick="$('#vpn_caCrt').toggle(300);">Show CA certificate</a>
                            <div class="well small" id="vpn_caCrt"></div><br/>
                            <a href="#vpn_list" onclick="$('#vpn_clientCrt').toggle(300);">Show Client certificate</a>
                            <div class="well small" id="vpn_clientCrt"></div><br/>
                            <a href="#vpn_list" onclick="$('#vpn_clientKey').toggle(300);">Show Client key</a>
                            <div class="well small" id="vpn_clientKey"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
