<div id="apiModals"></div>

<script type="text/javascript">
    function showActions_vpn(id) {
        $("#apiModals").load('components/vpn/modals/vpn_info.html', function() {
            $('#vpnDetails').toggle(1);
            $("#vpn_caCrt").toggle(1);
            $("#vpn_clientCrt").toggle(1);
            $("#vpn_clientKey").toggle(1);

            $("#vpnInfoModal").modal('show');

            $(function () {
                $("[data-toggle='tooltip']").tooltip();
            });

            $("#remove").click(function() {request("/vpn/network/delete/", {token: window.token, vpn_id: id}, function(){}); $("#vpnInfoModal").modal('hide'); showVpnList()});

            request('/vpn/network/get_by_id/', {token: window.token, vpn_id: id}, function(vpn) {
                var l = document.createElement("a");
                l.href = window.coreUrl;
                $("#vpnInfoEndpoint").append(l.hostname);
                $("#vpnInfoEndpoint").append(":" + actions['port']);
                $("#vpnInfoID").append(actions['id']);
                $("#vpnInfoName").append(actions['name']);

                request('/vpn/network/get_connection_list/', {token: window.token, vpn_id: id}, function(r) {
                    makeTable(new TableCoreModel(r, ["vm_id", "state"], null), "#attachedTo")
                });
                request('/api/vm/get_list/', {token: window.token}, function(r) {
                    // Remove not stopped vms
                    for (l = r.length-1; l >= 0; l--) {
                        if (r[l]["state"] != "stopped") {
                            r.splice(l, 1);
                        }
                    }
                    fillSelect(new SelectCoreModel(r, "name"), "#vpnForm", "#attachToVm");
                    $("#vpnForm").find("#attach").click(function(e) {
                        var vm_id = $("#vpnForm").find("#attachToVm").val();
                        request('/vpn/network/attach/', {token: window.token, vpn_id: id, vm_id: vm_id}, function(r) { $("#vpnInfoModal").modal('hide'); showVpnList(); });
                    })
                });
            });
            request('/vpn/network/client_cert/', {token: window.token, vpn_id: id}, function(vpn) {

                $("#vpn_caCrt").append(actions['ca_cert'].replace(/\n/g, '<br/>'));
                $("#vpn_clientCrt").append(actions['cert'].replace(/\n/g, '<br/>'));
                $("#vpn_clientKey").append(actions['key'].replace(/\n/g, '<br/>'));

                //makeTable(new TableCoreModel(image['tasks'], ["type", "action", "state"], null), "#vmTasks");

                // Show access

            });
        });
    }
    function showActions_connection(id) {
        $("#apiModals").load('components/vpn/modals/vpn_connection.html', function() {
            $("#vpnConnectionModal").modal('show');
            $("#vpnDisconnect").click(function(e) {
                request('/vpn/network/detach/', {token: window.token, connection_id: id}, function(r) { $("#vpnConnectionModal").modal('hide'); showVpnConnections(); });
            });
        });
    }

</script>