<div id="modals"></div>

<script type="text/javascript">
    $("#modals").append($("<div>").load("components/vpn/modals/vpn_create.html"));

    function showVpnList() {
        highlightMenu("#vpn_list");
        request("/vpn/network/get_list/", {token: window.token}, function(r) {
            t = []
            for (i = 0; i < r.length; i++) {
                t[i] = {}
                t[i]['id'] = r[i]['id']
                t[i]['state'] = r[i]['state']
                t[i]['address'] = r[i]['network']['address']
                t[i]['mask'] = r[i]['network']['mask']
            }
            makeTable(new TableCoreModel(t, ["id", "state", "address", "mask"], "vpn"), "#content");
        });
    }

    function showVpnCreate() {
        highlightMenu("#vpn_create");
        showVpnList();
        modal = "#vpnCreateModal";
        $(modal).modal('show');
    }


    $("#vpn_list").click(function(e) { showVpnList(); });
    $("#vpn_create").click(function(e) { showVpnCreate(); });

</script>
