<div id="modals"></div>

<script type="text/javascript">
    $("#modals").append($("<div>").load("components/vpn/modals/vpn_create.html"));
    $("#modals").append($("<div>").load("components/vpn/modals/vpn_connect.html"));

    function showVpnList() {
        highlightMenu("#vpn_list");
        request("/vpn/network/get_list/", {token: window.token}, function(r) {
            makeTable(new TableCoreModel(r, ["id", "name", "state"], "vpn"), "#content");
        });
    }

    function showVpnConnections() {
        highlightMenu("#vpn_connections");
        request("/vpn/network/get_list/", {token: window.token}, function(r) {
            $("#content").empty();
            for (var i = 0; i < r.length; i++) {
                $("#content").append("<div id='vpn-"+r[i]['id']+"'><b>" + r[i]['name'] + "</b> - " + r[i]['id'] + "</div>");
                request('/vpn/network/get_connection_list/', {token: window.token, vpn_id: r[i]['id']}, function(vpn) {
                    if (vpn.length > 0) {
                        makeTable(new TableCoreModel(vpn, ["id", 'vm_id', "vpn_id", "state"], "connection"), "#vpn-" + vpn[0]['vpn_id']);
                    }
                });
            }
        });
    }

    function showVpnCreate() {
        highlightMenu("#vpn_create");
        showVpnList();
        modal = "#vpnCreateModal";
        $(modal).modal('show');
    }


    function showVpnConnect() {
        highlightMenu("#vpn_connect");
        showVpnConnections();
        modal = "#vpnConnectModal";
        $(modal).modal('show');

        request('/api/vm/get_list/', {token: window.token}, function(r) {
            // Remove not stopped vms
            for (l = r.length-1; l >= 0; l--) {
                if (r[l]["state"] != "stopped") {
                    r.splice(l, 1);
                }
            }
            fillSelect(new SelectCoreModel(r, "name"), "#vpnConnectModal", "#vmId");
        });
        request("/vpn/network/get_list/", {token: window.token}, function(r) {
            for (l = r.length-1; l >= 0; l--) {
                if (r[l]["state"] != "running") {
                    r.splice(l, 1);
                }
            }
            fillSelect(new SelectCoreModel(r, "name"), "#vpnConnectModal", "#vpnId");
        });
    }


    $("#vpn_list").click(function(e) { showVpnList(); });
    $("#vpn_create").click(function(e) { showVpnCreate(); });
    $("#vpn_connections").click(function(e) { showVpnConnections(); });
    $("#vpn_connect").click(function(e) { showVpnConnect(); });

</script>
