<div id="modals"></div>

<script type="text/javascript">
    $("#modals").append($("<div>").load("components/vpn/modals/vpn_create.html"));

    function showVpnList() {
        highlightMenu("#vpn_list");
        request("/vpn/network/get_list/", {token: window.token}, function(r) {
            makeTable(new TableCoreModel(r, ["id", "name", "state"], "vpn"), "#content");
        });
    }

    function showVpnCreate() {
        highlightMenu("#vpn_create");
        showVpnList();
        modal = "#vpnCreateModal";
        $(modal).modal('show');
    }


    $("#vpn_list").click(function(e) { showVpnList(); });
    $("#vpn_create").click(function(e) { showVpnCreate(); });

</script>
