<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span class="glyphicon glyphicon-globe"></span> Vpn
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <ul class="list-group">
                <a href="#vpn_list" id="vpn_list" class="list-group-item">List</a>
                <a href="#vpn_create" id="vpn_create" class="list-group-item">Create</a>
            </ul>
        </div>
    </div>
</div>
