<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingVpnNetworks">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseVpnNetworks" aria-expanded="true" aria-controls="collapseVpnNetworks">
                <span class="glyphicon glyphicon-globe"></span> Vpn networks
            </a>
        </h4>
    </div>
    <div id="collapseVpnNetworks" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingVpnNetworks">
        <div class="panel-body">
            <ul class="list-group">
                <a href="#vpn_list" id="vpn_list" class="list-group-item">Show networks</a>
                <a href="#vpn_create" id="vpn_create" class="list-group-item">Create</a>
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingVpnConnections">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseVpnConnections" aria-expanded="true" aria-controls="collapseVpnConnections">
                <span class="glyphicon glyphicon-flash"></span> Vpn connections
            </a>
        </h4>
    </div>
    <div id="collapseVpnConnections" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingVpnConnections">
        <div class="panel-body">
            <ul class="list-group">
                <a href="#vpn_connections" id="vpn_connections" class="list-group-item">Show connections</a>
                <a href="#vpn_connect" id="vpn_connect" class="list-group-item">Connect</a>
            </ul>
        </div>
    </div>
</div>
