<div id="apiModals"></div>

<script type="text/javascript">
    function showActions_userdata(id) {
        $("#apiModals").load('components/coreTalk/modals/userdata_info.html', function() {
            $("#userdataInfoModal").modal('show');

            $(function () {
                $("[data-toggle='tooltip']").tooltip();
            });

            $("#userdataRemove").click(function() {request("/coreTalk/userdata/delete/", {token: window.token, userdata_id: id}, function(){}); $("#userdataInfoModal").modal('hide'); showUserDataList()});

            request('/coreTalk/userdata/get_by_id/', {token: window.token, userdata_id: id}, function(ud) {
                $("#userdataId").append(id);
                $("#userdataName").append(ud['name']);
                $("#userdataData").append(ud['data']);
                makeFieldEditableId(id, "coreTalk", "userdata", "name", "#userdataName");
                makeFieldEditableId(id, "coreTalk", "userdata", "data", "#userdataData");
            });
        });
    }

</script>