<div id="modals"></div>

<script type="text/javascript">
    $("#modals").append($("<div>").load("components/coreTalk/modals/userdata_create.html"));

    function showUserDataList() {
        highlightMenu("#userdata_list");
        request("/coreTalk/userdata/get_list/", {token: window.token}, function(r) {
            makeTable(new TableCoreModel(r, ["id", "name"], "userdata"), "#content");
        });
    }

    function showUserDataCreate() {
        highlightMenu("#userdata_create");
        showUserDataList();
        clearTimeout(window.refresh_timeout);
        modal = "#userdataCreateModal";
        $(modal).modal('show');
    }


    $("#userdata_list").click(function(e) { showUserDataList(); });
    $("#userdata_create").click(function(e) { showUserDataCreate(); });
</script>
