<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingUserdata">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseUserdata" aria-expanded="true" aria-controls="collapseUserdata">
                <span class="glyphicon glyphicon-cloud-upload"></span> Cloud init
            </a>
        </h4>
    </div>
    <div id="collapseUserdata" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingUserdata">
        <div class="panel-body">
            <ul class="list-group">
                <a href="#userdata_list" id="userdata_list" class="list-group-item"><span class="glyphicon glyphicon-list"></span> User-data scripts</a>
                <a href="#userdata_create" id="userdata_create" class="list-group-item"><span class="glyphicon glyphicon-plus"></span> Add new</a>
            </ul>
        </div>
    </div>
</div>
<!--
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSshkey">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSshkey" aria-expanded="true" aria-controls="collapseSshkey">
                <span class="glyphicon glyphicon-lock"></span> Ssh credentials
            </a>
        </h4>
    </div>
    <div id="collapseSshkey" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSshkey">
        <div class="panel-body">
            <ul class="list-group">
                <a href="#sshkey_list" id="sshkey_list" class="list-group-item"><span class="glyphicon glyphicon-list"></span> List</a>
                <a href="#sshkey_create" id="sshkey_create" class="list-group-item"><span class="glyphicon glyphicon-plus"></span> Create</a>
            </ul>
        </div>
    </div>
</div>
-->